
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.doum.mapper.won.WonMapper">


<!--회원가입 값을 dto에 담아주기
    모집인원, 모집기간, 봉사기간, 제목, 조회하기
    익명게시판
    리뷰 작성자
-->


<!--회원가입 값들을 dto에 담아주기 -->
    <insert id="signUp">
        INSERT INTO tbl_organization (
            organization_id, location_id, email, password, name,
            phone_number, register_date, email_approve, phone_approve, manager_name,
            manager_phone_number, file_location, status, provider_id, provider, role
        )
        VALUES (
                   #{organizationId}, #{locationId}, #{email}, #{password},
                   #{name}, #{phoneNumber}, #{registerDate}, #{emailApprove}, #{phoneApprove}, #{managerName},
                   #{managerPhoneNumber}, #{fileLocation}, #{status}, #{providerId}, #{provider}, #{role}
               );
    </insert>





    <!--&lt;!&ndash;    모집인원,모집기간,봉사기간,제목 조회하기&ndash;&gt;-->
<!--    <select id="volunteer">-->
<!--        SELECT-->
<!--            VOLUNTEER_ID,-->
<!--            RECRUIT_NUMBER,-->
<!--            RECRUIT_START_DATE,-->
<!--            RECRUIT_END_DATE,-->
<!--            VOLUNTEER_DATE,-->
<!--            TITLE-->
<!--        FROM-->
<!--            TBL_VOLUNTEER-->
<!--        WHERE-->
<!--            VOLUNTEER_DATE BETWEEN TO_DATE('2024-07-01', 'YYYY-MM-DD') AND TO_DATE('2024-07-31', 'YYYY-MM-DD')-->
<!--        ORDER BY-->
<!--            VOLUNTEER_DATE;-->

<!--    </select>-->

<!--&lt;!&ndash;   메인 홈페이지에서 보여주는 익명게시판 보여주는 내용 &ndash;&gt;-->
<!--    <select id="anonymous">-->
<!--        SELECT title, views, createdDate-->
<!--        FROM tbl_anonymous-->
<!--        WHERE title LIKE '%리뷰%'-->
<!--        ORDER BY views DESC;-->

<!--    </select>-->


<!--&lt;!&ndash;    기관리뷰 작성자 &ndash;&gt;-->
<!--&lt;!&ndash;    기관이 유저를 리뷰하는  &ndash;&gt;-->
<!--    <insert id="userReview">-->
<!--            insert into tbl_user_review(oranization_id)-->
<!--            values (#{oranizationId});-->

<!--    </insert>-->


<!--&lt;!&ndash;    회원리뷰 작성자 &ndash;&gt;-->
<!--&lt;!&ndash;   기관이 회원을 리뷰하는 &ndash;&gt;-->
<!--    <insert id="userReview">-->
<!--        insert into tbl_organization_review(user_id)-->
<!--        values (#{userId});-->

<!--    </insert>-->






</mapper>


