<!-- lee/searchUser.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>검색 결과</title>
</head>
<body>
<h1>검색 결과</h1>
<!--<p>검색어: <span th:text="${search}">검색어</span></p>-->

<table>
    <thead>
    <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>이메일</th>
        <th>프로필 사진</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="user : ${users}">-->
<!--        <td th:text="${user.userId}">아이디</td>-->
<!--        <td th:text="${user.name}">이름</td>-->
<!--        <td th:text="${user.email}">이메일</td>-->
<!--        <td><img th:src="@{${user.profilePic}}" alt="Profile Picture" width="50" height="50"/></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
